<article class="post">
  <div class="title">
    <h3>Name: {{dog.name}}</h3>
    <p>Age: {{dog.age}}</p>
    <p>Gender: {{dog.gender}}</p>
    <p>Breed: {{dog.breed}}</p>
    <p>Bio: {{dog.bio}}</p>
    <p>Owner: {{dog.user.username}}</p>
  </div>
  <div class="meta">
    {{dog.trainer.length}}
    review(s) since
    {{dog.created_at}}
    |
    <a href="/dogs/{{id}}">{{dog.trainers.length}} review(s)</a>
  </div>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add feedback</button>
  </div>
</form>

<div class="comments">
  {{#each dog.trainer_feedback}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{trainer_feedback}}
    </div>
  </section>
  {{/each}}
</div>

{{!-- <article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div class="meta">
    {{post.vote_count}} point(s) by {{post.user.username}} on
    {{post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
</article> --}}